resources/core/states_state_machine/request.yml
name: ${self:custom.core.statesStateMachine.requestName}
definition:
  StartAt: chooseFunction
  States:
    chooseFunction:
      Type: Choice
      Choices:
        - Variable: $.command
          StringMatches: ${self:custom.epicGames.lambdaFunction.logIn.command}*
          Next: epicGamesLogIn
        - Variable: $.command
          StringEquals: ${self:custom.epicGames.lambdaFunction.purchaseFreeContent.command}
          Next: epicGamesPurchaseFreeContent
        - Variable: $.command
          StringEquals: ${self:custom.epicGames.lambdaFunction.logOut.command}
          Next: epicGamesLogOut
        - Variable: $.command
          StringMatches: ${self:custom.events.lambdaFunction.putEvent.command}*
          Next: eventsPutEvent
        - Variable: $.command
          StringEquals: ${self:custom.events.lambdaFunction.listEvents.command}
          Next: eventsListEvents
        - Variable: $.command
          StringMatches: ${self:custom.events.lambdaFunction.enableEvent.command}*
          Next: eventsEnableEvent
        - Variable: $.command
          StringMatches: ${self:custom.events.lambdaFunction.disableEvent.command}*
          Next: eventsDisableEvent
        - Variable: $.command
          StringMatches: ${self:custom.events.lambdaFunction.deleteEvent.command}*
          Next: eventsDeleteEvent
        - Variable: $.command
          StringMatches: ${self:custom.kijiji.lambdaFunction.logIn.command}*
          Next: kijijiLogIn
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.lambdaFunction.uploadAds.command}
          Next: kijijiUploadAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.lambdaFunction.downloadAds.command}
          Next: kijijiDownloadAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.lambdaFunction.repostAds.command}
          Next: kijijiRepostAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.lambdaFunction.deleteAds.command}
          Next: kijijiDeleteAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.lambdaFunction.logOut.command}
          Next: kijijiLogOut
        - Variable: $.command
          StringMatches: ${self:custom.textnow.lambdaFunction.logIn.command}*
          Next: textnowLogIn
        - Variable: $.command
          StringMatches: ${self:custom.textnow.lambdaFunction.sendMessage.command}*
          Next: textnowSendMessage
        - Variable: $.command
          StringEquals: ${self:custom.textnow.lambdaFunction.logOut.command}
          Next: textnowLogOut
      Default: replyBadRequest
    epicGamesLogIn:
      Type: Task
      Resource: !GetAtt epicGamesLogIn.Arn
      End: true
      TimeoutSeconds: ${self:functions.epicGamesLogIn.timeout}
    epicGamesPurchaseFreeContent:
      Type: Task
      Resource: !GetAtt epicGamesPurchaseFreeContent.Arn
      End: true
      TimeoutSeconds: ${self:functions.epicGamesPurchaseFreeContent.timeout}
    epicGamesLogOut:
      Type: Task
      Resource: !GetAtt epicGamesLogOut.Arn
      End: true
    eventsPutEvent:
      Type: Task
      Resource: !GetAtt eventsPutEvent.Arn
      End: true
    eventsListEvents:
      Type: Task
      Resource: !GetAtt eventsListEvents.Arn
      End: true
    eventsEnableEvent:
      Type: Task
      Resource: !GetAtt eventsEnableEvent.Arn
      End: true
    eventsDisableEvent:
      Type: Task
      Resource: !GetAtt eventsDisableEvent.Arn
      End: true
    eventsDeleteEvent:
      Type: Task
      Resource: !GetAtt eventsDeleteEvent.Arn
      End: true
    kijijiLogIn:
      Type: Task
      Resource: !GetAtt kijijiLogIn.Arn
      End: true
    kijijiUploadAds:
      Type: Task
      Resource: !GetAtt kijijiUploadAds.Arn
      End: true
    kijijiDownloadAds:
      Type: Task
      Resource: !GetAtt kijijiDownloadAds.Arn
      End: true
    kijijiRepostAds:
      Type: Task
      Resource: !GetAtt kijijiRepostAds.Arn
      End: true
      TimeoutSeconds: ${self:functions.kijijiRepostAds.timeout}
    kijijiDeleteAds:
      Type: Task
      Resource: !GetAtt kijijiDeleteAds.Arn
      End: true
    kijijiLogOut:
      Type: Task
      Resource: !GetAtt kijijiLogOut.Arn
      End: true
    textnowLogIn:
      Type: Task
      Resource: !GetAtt textnowLogIn.Arn
      End: true
      TimeoutSeconds: ${self:functions.textnowLogIn.timeout}
    textnowSendMessage:
      Type: Task
      Resource: !GetAtt textnowSendMessage.Arn
      End: true
      TimeoutSeconds: ${self:functions.textnowSendMessage.timeout}
    textnowLogOut:
      Type: Task
      Resource: !GetAtt textnowLogOut.Arn
      End: true
    replyBadRequest:
      Type: Task
      Resource: !GetAtt replyMessage.Arn
      Parameters:
        interface.$: $.interface
        message: Unrecognized command. Say what?
      End: true
