resources/core/state_machines/request.yml
name: ${self:custom.core.stateMachine.requestName}
definition:
  StartAt: chooseFunction
  States:
    chooseFunction:
      Type: Choice
      Choices:
        - Variable: $.command
          StringMatches: ${self:custom.epicGames.functions.logIn.command}*
          Next: epicGamesLogIn
        - Variable: $.command
          StringEquals: ${self:custom.epicGames.functions.listOffers.command}
          Next: epicGamesListOffers
        - Variable: $.command
          StringEquals: ${self:custom.epicGames.functions.purchaseOffers.command}
          Next: epicGamesPurchaseOffers
        - Variable: $.command
          StringEquals: ${self:custom.epicGames.functions.logOut.command}
          Next: epicGamesLogOut
        - Variable: $.command
          StringMatches: ${self:custom.events.functions.putEvent.command}*
          Next: eventsPutEvent
        - Variable: $.command
          StringEquals: ${self:custom.events.functions.listEvents.command}
          Next: eventsListEvents
        - Variable: $.command
          StringMatches: ${self:custom.events.functions.enableEvent.command}*
          Next: eventsEnableEvent
        - Variable: $.command
          StringMatches: ${self:custom.events.functions.disableEvent.command}*
          Next: eventsDisableEvent
        - Variable: $.command
          StringMatches: ${self:custom.events.functions.deleteEvent.command}*
          Next: eventsDeleteEvent
        - Variable: $.command
          StringMatches: ${self:custom.kijiji.functions.logIn.command}*
          Next: kijijiLogIn
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.functions.uploadAds.command}
          Next: kijijiUploadAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.functions.downloadAds.command}
          Next: kijijiDownloadAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.functions.repostAds.command}
          Next: kijijiRepostAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.functions.deleteAds.command}
          Next: kijijiDeleteAds
        - Variable: $.command
          StringEquals: ${self:custom.kijiji.functions.logOut.command}
          Next: kijijiLogOut
        - Variable: $.command
          StringMatches: ${self:custom.textnow.functions.logIn.command}*
          Next: textnowLogIn
        - Variable: $.command
          StringMatches: ${self:custom.textnow.functions.sendTextMessage.command}*
          Next: textnowSendTextMessage
        - Variable: $.command
          StringEquals: ${self:custom.textnow.functions.logOut.command}
          Next: textnowLogOut
      Default: replyBadRequest
    epicGamesLogIn:
      Type: Task
      Resource: !GetAtt epicGamesLogIn.Arn
      End: true
      TimeoutSeconds: ${self:functions.epicGamesLogIn.timeout}
    epicGamesListOffers:
      Type: Task
      Resource: !GetAtt epicGamesListOffers.Arn
      End: true
    epicGamesPurchaseOffers:
      Type: Task
      Resource: !GetAtt epicGamesPurchaseOffers.Arn
      End: true
      TimeoutSeconds: ${self:functions.epicGamesPurchaseOffers.timeout}
    epicGamesLogOut:
      Type: Task
      Resource: !GetAtt epicGamesLogOut.Arn
      End: true
    eventsPutEvent:
      Type: Task
      Resource: !GetAtt eventsPutEvent.Arn
      End: true
    eventsListEvents:
      Type: Task
      Resource: !GetAtt eventsListEvents.Arn
      End: true
    eventsEnableEvent:
      Type: Task
      Resource: !GetAtt eventsEnableEvent.Arn
      End: true
    eventsDisableEvent:
      Type: Task
      Resource: !GetAtt eventsDisableEvent.Arn
      End: true
    eventsDeleteEvent:
      Type: Task
      Resource: !GetAtt eventsDeleteEvent.Arn
      End: true
    kijijiLogIn:
      Type: Task
      Resource: !GetAtt kijijiLogIn.Arn
      End: true
    kijijiUploadAds:
      Type: Task
      Resource: !GetAtt kijijiUploadAds.Arn
      End: true
    kijijiDownloadAds:
      Type: Task
      Resource: !GetAtt kijijiDownloadAds.Arn
      End: true
    kijijiRepostAds:
      Type: Task
      Resource: !GetAtt kijijiRepostAds.Arn
      End: true
      TimeoutSeconds: ${self:functions.kijijiRepostAds.timeout}
    kijijiDeleteAds:
      Type: Task
      Resource: !GetAtt kijijiDeleteAds.Arn
      End: true
    kijijiLogOut:
      Type: Task
      Resource: !GetAtt kijijiLogOut.Arn
      End: true
    textnowLogIn:
      Type: Task
      Resource: !GetAtt textnowLogIn.Arn
      End: true
      TimeoutSeconds: ${self:functions.textnowLogIn.timeout}
    textnowSendTextMessage:
      Type: Task
      Resource: !GetAtt textnowSendTextMessage.Arn
      End: true
      TimeoutSeconds: ${self:functions.textnowSendTextMessage.timeout}
    textnowLogOut:
      Type: Task
      Resource: !GetAtt textnowLogOut.Arn
      End: true
    replyBadRequest:
      Type: Task
      Resource: !GetAtt replyMessage.Arn
      Parameters:
        interface.$: $.interface
        message: Unrecognized command. Say what?
      End: true
